* {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
}
.section-1 {
  height: 100vh;
  color: #123a4e;
  background-color: #f6f0f0;
}
.section-2 {
  height: 80vh;
  background-color: #a3899b;
}
.section-3 {
  height: 60vh;
  background-color: #979fbf;
}
.section-4 {
  height: 60vh;
  background-color: #c35283;
}
.section-5 {
  height: 60vh;
  background-color: #123a4e;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #123a4e;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-list__item-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 30px 20px 30px;
  transition: .2s;
}
.nav-list__item-link--active, .nav-list__item-link:hover {
  background-color: #979fbf;
}
